@import "normalize";
@import "sprite";

* {
  cursor: default;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  background: #36393f;
  color: #fff;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: underline;
}

button, [type=button], [type=reset], [type=submit] {
  appearance: none;
  border: 0;
  background: none;
  outline: none;
}

.tac {
  text-align: center;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  &.popup {
    filter: blur(5px);
  }
}

header {
  width: 100%;
  padding: .5rem;
  background: #202225;
  height: 5.75rem;

  #brand {
    display: flex;
    gap: .5rem;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      display: block;
    }
  }
}

#title {
  font-size: 1.1rem;
  font-weight: bold;
}
#subtitle {
  font-size: .75rem;
  opacity: .75;
  margin-top: .25rem;
}

#content {
  height: calc(100vh - 6.75rem);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #2e3338;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 20px;
    border: 3px solid #2e3338;
  }
}

select, input {
  padding: .25rem;
  width: 100%;
  font-size: .85rem;
  border-radius: 4px;
  background: #40444b;
  color: #fff;
  outline: none;
  border: 0;
  height: 1.75rem;
  box-sizing: border-box;
}

.field {
  label {
    display: block;
    margin-bottom: .5rem;
  }

  margin-bottom: 1rem;
}

#fishs {
  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  padding: .5rem;

  .fish-icon {
    border-radius: 4px;
    border: 3px solid white;
    flex: 0 0 64px;
    position: relative;
  }

  .fish {
    width: 100%;
    display: flex;
    column-gap: .75rem;
    align-items: center;
    /*text-shadow: 1px 1px 3px #000000;*/

    &.fish-done {

      .fish-icon:after {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
        background: #2ecc71;
        position: absolute;
        top: -5px;
        right: -8px;
        border-radius: 50%;
        z-index: 9;
        box-shadow: 0 0 3px #000;
      }

      .fish-icon:before {
        content: '';
        background-image: url(~sprite.png); display: block;
        width: 15px; height: 12px; background-position: -944px -896px;
        position: absolute;
        top: 1px;
        right: -4px;
        z-index: 99;
      }
    }

    &.fish-done-repeat {

      .fish-icon:after {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
        background: #2ecc71;
        position: absolute;
        top: -5px;
        right: -8px;
        border-radius: 50%;
        z-index: 9;
        box-shadow: 0 0 3px #000;
      }

      .fish-icon:before {
        content: '';
        background-image: url(~sprite.png); display: block;
        width: 20px; height: 12px; background-position: -896px -944px;
        position: absolute;
        top: 1px;
        right: -6px;
        z-index: 99;
      }
    }

    .name {
      font-weight: bold;
      font-size: .85rem;
      margin-bottom: .25rem;
    }

    .metas {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: .5rem;
      row-gap: .15rem;
      justify-content: flex-start;
      margin-top: .1rem;
      opacity: .8;
      font-size: .75rem;
      padding-right: .5rem;

      > span {
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        white-space: nowrap;
      }
    }

    //&.rarity-junk {
    //  .name {
    //    //color: red;
    //  }
    //  .fish-icon {
    //    border-color: red;
    //  }
    //}
    //
    //&.rarity-basic {
    //  .name {
    //    //color: red;
    //  }
    //  .fish-icon {
    //    border-color: red;
    //  }
    //}

    &.rarity-fine {
      .name {
        //color: red;
      }
      .fish-icon {
        border-color: #5291f0;
      }
    }

    &.rarity-masterwork {
      .name {
        //color: red;
      }
      .fish-icon {
        border-color: #32b112;
      }
    }

    &.rarity-rare {
      .name {
        //color: red;
      }
      .fish-icon {
        border-color: #f0d022;
      }
    }

    &.rarity-exotic {
      .name {
        //color: red;
      }
      .fish-icon {
        border-color: #fa0;
      }
    }

    &.rarity-ascended {
      .name {
        //color: red;
      }
      .fish-icon {
        border-color: #f48;
      }
    }

    &.rarity-legendary {
      .name {
        //color: #93f;
      }
      .fish-icon {
        border-color: #93f;
      }
    }

  }

}

#clock, #gw2link {
  color: white;
  display: flex;
  column-gap: .25rem;
  text-align: center;
  font-weight: 600;
  padding: .25rem .5rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: calc(1.25rem + 2px);

  &.n {
    background: #2c3e50;
  }

  &.d {
    background: #e67e22;
  }

  &.dd {
    background: #9b59b6;
  }

  &.offline {
    background: #e74c3c;
  }

  &.online {
    background: #2ecc71;
  }

}

#no-fish {
  color: #e74c3c;
  font-weight: bold;
  display: none;
  padding: .5rem;
}

#toolbar {
  margin-top: .75rem;
  width: 100%;
  display: flex;
  gap: .5rem;
  align-items: center;
}

#drag, #settingsButton {
  width: 1.95rem;
  height: 1.95rem;
  background: #36393f;
  position: fixed;
  top: .5rem;
  right: 2.95rem;
  padding: .25rem .5rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#drag {
  -webkit-app-region: drag;
  right: .5rem;
}

#settingsPopup, #newVersionPopup {
  &.hidden {
    display: none;
  }

  position: fixed;
  z-index: 999;
  width: calc(100% - 6rem);
  height: auto;
  background: #202225;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  border-radius: 4px;

  h2 {
    margin: 0 0 1rem;
  }

  .btns {
    display: flex;
    justify-content: space-between;

    button {
      background: #36393f;
      color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      height: 28px;
      box-sizing: border-box;

      &[type="submit"] {
        background: #2ecc71;
      }
    }

  }

  #settingsErrors {
    color: #e74c3c;

    > div {
      margin-bottom: .5rem;
    }
  }
}

#newVersionPopup {
  width: calc(100% - 5rem);
  background: #27ae60;
  top: initial;
  bottom: 1rem;
  left: 1rem;
  font-weight: bold;
  padding-right: 2rem;

  #newVersionClose {
    font-size: 1.5rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
